einops
flax
torch
torchaudio
torchtext
torchvision
tensorflow-datasets
pydub
datasets
tqdm
wandb

# Install jax and jaxlib using the following commands beforehand:
# conda install -c conda-forge jaxlib
# conda install -c conda-forge jax